<div class="grid grid-cols-12 h-screen overflow-hidden font-sans isolate">
  <!-- Decorative column (unchanged) -->
  <div class="col-start-1 row-span-full max-sm:hidden text-gray-950/5 border-x border-x-current bg-[size:10px_10px] bg-fixed bg-[image:repeating-linear-gradient(315deg,currentColor_0,currentColor_1px,_transparent_0,_transparent_50%)]"></div>

  <!-- Side bar -->
  <div class="col-start-2 col-span-2 bg-white shadow-md">
    <div class="grid grid-rows-12 h-screen">
      <div class="row-start-1 row-end-4 p-4 relative">
        <img [ngSrc]="logo()" alt="Logo" fill priority>
      </div>

      <div
        class="row-start-4 row-end-12  overflow-y-auto scroll-smooth max-h-full flex flex-col gap-3 py-3 custom-scrollbar border-t border-t-gray-200 border-b border-b-gray-200">
        <a routerLink="" routerLinkActive="border-l border-l-black-300" class="side-bar-item px-4">Accueil</a>
        <a routerLink="calendar" routerLinkActive="border-l border-l-black-300" class="side-bar-item px-4">Calendrier</a>
      </div>
      <div class="row-start-12 p-2 border border-dashed place-self-center text-black hover:border-solid hover:bg-black hover:text-white font-semibold">
        Se deconnecter
      </div>
    </div>
  </div>

  <div class="col-start-4 col-span col-end-12 grid grid-rows-12 h-screen">
    <header class="row-start-1  w-full px-20 border-b border-b-gray-200">
      <h1 class="mt-2 max-w-3xl text-5xl tracking-tight sm:text-6xl text-pretty">{{text()}}, OFR</h1>
    </header>

    <section class="row-start-2 row-end-12  w-full px-20 pt-2">
      <div class="row-start-4 row-end-12  overflow-y-auto scroll-smooth max-h-full flex flex-col gap-3 py-3 custom-scrollbar">
<!--        @for (i of content; track $index) {-->
<!--          <div class="side-bar-item px-4">ITEM {{ i + 1 }}</div>-->
<!--        }-->

        <router-outlet></router-outlet>

      </div>
    </section>

    <garage-footer class="row-start-12 w-full px-20 border-t border-t-gray-200 grid grid-cols-12 items-center"/>
  </div>

  <div class="col-start-12 row-span-full max-sm:hidden text-gray-950/5 border-x border-x-current bg-[size:10px_10px] bg-fixed bg-[image:repeating-linear-gradient(315deg,currentColor_0,currentColor_1px,_transparent_0,_transparent_50%)]"></div>

</div>
