<div class="grid grid-cols-12 h-screen overflow-hidden font-sans isolate">
  <!-- Decorative column (unchanged) -->
  <div
    class="col-start-1 row-span-full max-sm:hidden text-gray-950/5 border-x border-x-current bg-[size:10px_10px] bg-fixed bg-[image:repeating-linear-gradient(315deg,currentColor_0,currentColor_1px,_transparent_0,_transparent_50%)]"></div>

  <!-- Side bar -->
  <div class="col-start-2 col-span-2 bg-white shadow-md grid grid-rows-12 h-screen">

    <div class="row-start-1 grid items-center justify-center border-b border-b-gray-200">
      <img alt="logo" [ngSrc]="logo()" width="150" height="70" />
    </div>

    <div
      class="row-start-3 row-end-12 py-5 overflow-y-auto scroll-smooth max-h-full flex flex-col gap-3 custom-scrollbar">
      <a routerLink="/garage" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
         class="side-bar-item px-4">Accueil</a>
      <a routerLink="/garage/events" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
         class="side-bar-item px-4">Calendrier</a>
      <a routerLink="events" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
         class="side-bar-item px-4">Services</a>
    </div>

    <div class="row-start-12 grid  border-t border-t-gray-200">
      <div class="p-2 bg-black text-white place-self-center hover:bg-red-600 font-semibold">
        <button class="flex items-center gap-2 cursor-pointer"><mat-icon>logout</mat-icon> Déconnexion</button>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="col-start-4 col-span col-end-12 grid grid-rows-12 h-screen">

    <!--  HEADER  -->
    <header class="row-start-1  w-full px-20 border-b border-b-gray-200">
      <h1 class="mt-2 max-w-3xl text-5xl tracking-tight sm:text-6xl text-pretty">{{ text() }}, OFR</h1>
    </header>

    <!--  MAIN CONTENT  -->
    <section class="row-start-2 row-end-12  w-full px-20 pt-2 overflow-y-auto scroll-smooth max-h-full flex flex-col gap-3 py-3 custom-scrollbar">
      <router-outlet></router-outlet>
    </section>

    <!--  FOOTER  -->
    <garage-footer class="row-start-12 w-full px-20 border-t border-t-gray-200 grid grid-cols-12 items-center"/>
  </div>

  <div
    class="col-start-12 row-span-full max-sm:hidden text-gray-950/5 border-x border-x-current bg-[size:10px_10px] bg-fixed bg-[image:repeating-linear-gradient(315deg,currentColor_0,currentColor_1px,_transparent_0,_transparent_50%)]"></div>

</div>
