.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
