<div class="col-span-12 grid grid-cols-12 gap-2 py-2 sm:py-3">

  <a class="col-span-12 sm:col-span-5 lg:col-span-4 text-xs sm:text-sm truncate text-center sm:text-left "
     href="https://docs.google.com/document/d/1vO7nqc2AARW6Ovihqv-2e-LUeJQmYxjf/edit?rtpof=true&sd=true&tab=t.0#heading=h.gjdgxs">
    ©2025 ITU-MASTER_1-P_12-MEAN-GARAGE
  </a>

  <div class="hidden sm:block sm:col-span-1 lg:col-span-4"></div>

  <div class="col-span-12 sm:col-span-6 lg:col-span-4 flex flex-col sm:flex-row items-center justify-center sm:justify-end gap-2 sm:gap-4 text-xs sm:text-sm">
    <a target="_blank" href="https://learn.ituniversity.mg/user/profile.php?id=252" class="">
      Emmanuel RAFIDINJANAHARY
    </a>

    <div class="hidden sm:block h-4 w-px bg-gray-300"></div>

    <a target="_blank" href="https://learn.ituniversity.mg/user/profile.php?id=162" class="">
      Nohan Soava RAZAFINJATO
    </a>
  </div>
</div>
