<!-- mila an'ity ilay balise iantsona anazy : class="row-start-12 w-full px-20 border-t border-t-gray-200 grid grid-cols-12 items-center" -->

<a class="col-start-1 col-end-5" href="https://docs.google.com/document/d/1vO7nqc2AARW6Ovihqv-2e-LUeJQmYxjf/edit?rtpof=true&sd=true&tab=t.0#heading=h.gjdgxs">©2025 ITU-MASTER_1-P_12-MEAN-GARAGE</a>
<div class="col-start-8 col-end-13 flex items-center justify-center space-x-6 text-center">
  <a target="_blank" href="https://learn.ituniversity.mg/user/profile.php?id=252">Emmanuel RAFIDINJANAHARY</a>
  <div class="h-5 w-px bg-gray-300"></div>
  <a target="_blank" href="https://learn.ituniversity.mg/user/profile.php?id=162">Nohan Soava RAZAFINJATO</a>
</div>

