<div class="grid gap-3">

  @for (service of services; track service._id) {
    <div class="grid gap-y-2 p-4 divide-y rounded-lg border">
      <div class="flex justify-between items-center">
        <h2 class="font-semibold text-xl">{{ service.name }}</h2>
        <h2 class="font-semibold text-xl">{{ service.basePrice | vola }}</h2>
      </div>
      <div class="py-2">
        {{ service.description }}
      </div>
      <div class="flex gap-x-3 pt-2">
        <button
          class="border border-yellow-600 text-yellow-600 hover:bg-yellow-600 hover:text-white p-2 font-semibold rounded-lg flex items-center gap-x-1"
          (click)="showServiceUpdateModal(service._id)">
          <mat-icon>edit</mat-icon>
          Modifier
        </button>
        <button
          class="border border-red-600 text-red-600 hover:bg-red-600 hover:text-white p-2 font-semibold rounded-lg flex items-center gap-x-1">
          <mat-icon>delete</mat-icon>
          Supprimer
        </button>
      </div>
    </div>
  }
</div>

<div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 pt-3 sm:px-6 mt-2">

  @if (canShowPagination()) {
    <div class="flex flex-1 justify-between sm:hidden">
      <button
        (click)="previousPage()"
        [disabled]="currentPage <= 1"
        [class.opacity-50]="currentPage <= 1"
        class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">
        Précédent
      </button>
      <button
        (click)="nextPage()"
        [disabled]="currentPage >= totalPages"
        [class.opacity-50]="currentPage >= totalPages"
        class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">
        Suivant
      </button>
    </div>
  }

  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        Affichage de <span class="font-medium">{{ (currentPage - 1) * pageSize + 1 }}</span> à <span
        class="font-medium">{{ Math.min(currentPage * pageSize, totalItems) }}</span> sur <span
        class="font-medium">{{ totalItems }}</span> résultats
      </p>
    </div>

    @if (canShowPagination()) {
      <div>
        <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
          <button
            (click)="previousPage()"
            [disabled]="currentPage <= 1"
            class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            [class.opacity-50]="currentPage <= 1">
            <span class="sr-only">Précédent</span>
            &laquo;
          </button>

          @for (page of pagesArray; track page) {
            <button
              (click)="goToPage(page)"
              class="relative inline-flex items-center px-4 py-2 text-sm font-semibold ring-1 ring-inset ring-gray-300 hover:bg-red-600 focus:z-20 focus:outline-offset-0"
              [ngClass]="{ 'bg-black text-white' : page === currentPage }">
              {{ page }}
            </button>
          }

          <button
            (click)="nextPage()"
            [disabled]="currentPage >= totalPages"
            class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            [class.opacity-50]="currentPage >= totalPages">
            <span class="sr-only">Suivant</span>
            &raquo;
          </button>
        </nav>
      </div>
    }
  </div>
</div>

