<h2 class="mb-4" mat-dialog-title>Mise à jour du service : {{ actualService?.name }}</h2>
<mat-dialog-content>
  <form [formGroup]="serviceForm" class="grid gap-3 pt-4">
    <mat-form-field appearance="outline">
      <mat-label>Nom du service</mat-label>
      <input type="email" matInput formControlName="name">
      @if (serviceForm.get('name')?.hasError('required')) {
        <mat-error>Le nom est requis</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Prix de base</mat-label>
      <input type="number" matInput formControlName="basePrice">
      @if (serviceForm.get('basePrice')?.hasError('required')) {
        <mat-error>Le prix est requis</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput formControlName="description"
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="13">

      </textarea>
      @if (serviceForm.get('description')?.hasError('required')) {
        <mat-error>La description est requise</mat-error>
      }
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="clearForm()">Effacer</button>
  <button mat-button [mat-dialog-close]="true">Annuler</button>
  <button mat-flat-button [disabled]="serviceForm.invalid" (click)="updateService()">Mettre à jour
  </button>
</mat-dialog-actions>
