<nav class="py-4 px-6 flex justify-between items-center border-b-2 border-gray-200">
    <div class="nav-logo">
        <img src="/img/Logo.svg" alt="Logo" class="m-h-14">
    </div>
      
    <div class="flex gap-6">
        <a routerLink="/client/home/rendez-vous" routerLinkActive="active-link">Rendez-vous</a>
        <a routerLink="/client/home/vehicules" routerLinkActive="active-link">Véhicules</a>
        <a routerLink="/client/home/suivi" routerLinkActive="active-link">Suivi</a>
        <a routerLink="/client/home/historique-des-rendez-vous" routerLinkActive="active-link">Historiques</a>
    </div>
      
    <div>
        <button class="flex items-center gap-2 cursor-pointer"><mat-icon>logout</mat-icon> Déconnexion</button>
    </div>
</nav>