<div class="grid grid-cols-12 grid-flow-row-dense gap-2">
  <!-- DASHBOARD MANAGER -->

  <div class="border border-gary-200 rounded-lg col-span-4">
    <div class="h-24">LIENS RAPIDE</div>
  </div>

  <div class="border border-gary-200 rounded-lg col-span-12 p-4 grid gap-3">
    <h2 class="text-xl font-bold">Statistiques</h2>
    <div class="grid gap-y-10 px-7">
      <div>
        <h3 class="text-lg font-semibold">Prestations effectuées</h3>
        <canvas baseChart class="w-full"
                [type]="'line'"
                [data]="lineChartData"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
        >
        </canvas>
      </div>

      <div>
        <h3 class="text-lg font-semibold">Top services</h3>
        <canvas baseChart class="w-1/2"
                [type]="'pie'"
                [data]="pieChartData"
                [options]="pieChartOptions"
                [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>

  <div class="border border-gary-200 rounded-lg col-span-8 p-4 h-fit">
    <h2 class="text-xl font-bold">Informations générales</h2>
    <div class="flex items-center overflow-x-auto scroll-smooth max-w-full gap-3 py-3 custom-scrollbar ">
      @for (info of generalInfo; track $index) {
        <div class="bg-gray-100 rounded-lg p-3 shadow-sm">
          <p class="text-sm text-gray-700 mb-1">{{ info.title }}</p>
          <p class="text-xl font-bold">
            @if (info?.currency) {
              {{ info.value() | vola }}
            } @else {
              {{ info.value() }}
            }  </p>
        </div>
      }
    </div>
  </div>

  <!-- DASHBOARD MECANICIEN -->

  <div class="border border-gray-200 rounded-lg col-span-12">
    <div>En attente de confimation du client</div>
    <div>In progress</div>
    <div>Completed</div>
  </div>
</div>
