<div class="grid grid-cols-12 grid-flow-row-dense gap-2">
  <!-- DASHBOARD MANAGER -->

  <div class="border border-teal-200 rounded-lg col-span-12">
    <div class="h-24">LIENS RAPIDE</div>
  </div>
  <div class="border border-teal-200 rounded-lg col-span-9">
    <div class="h-24">Statistiques</div>
  </div>
  <div class="border border-teal-200 rounded-lg col-span-3">
    <span>Info general</span>
    <ul class="divide-y divide-gray-100 py-2 px-4">
      <li class="flex py-4">


      </li>
      <li class="flex py-4">

      </li>
      <li class="flex py-4">

      </li>
    </ul>
  </div>

  <!-- DASHBOARD MECANICIEN -->

  <div class="border border-teal-200 rounded-lg col-span-12">
    <div>En attente de confimation du client</div>
    <div>In progress</div>
    <div>Completed</div>
  </div>
</div>
