<div>
  <div>
    <h1 class="text-3xl font-semibold text-gray-900">Action rapide</h1>
  </div>

  <div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:gap-8 mx-auto lg:px-8" >
    <div class="rounded-lg bg-white shadow">
      <div class="p-4">
        <div class="flex items-center justify-between">
          <h3 class="text-xl font-medium text-gray-900">Note moyenne</h3>
          <mat-icon>refresh</mat-icon>
        </div>
        <p class="mt-1 text-gray-500">4</p>
      </div>
    </div>

    <div class="rounded-lg bg-white shadow">
      <div class="p-4">
        <div class="flex items-center justify-between">
          <h3 class="text-xl font-medium text-gray-900">Futur rendez-vous</h3>
          <mat-icon>refresh</mat-icon>
        </div>
        <p class="mt-1 text-gray-500">2</p>
      </div>
    </div>

    <div class="rounded-lg bg-white shadow">
      <div class="p-4">
        <div class="flex items-center justify-between">
          <h3 class="text-xl font-medium text-gray-900">Total Client</h3>
          <mat-icon>refresh</mat-icon>
        </div>
        <p class="mt-1 text-gray-500">1</p>
      </div>
    </div>

    <div class="rounded-lg bg-white shadow">
      <div class="p-4">
        <div class="flex items-center justify-between">
          <h3 class="text-xl font-medium text-gray-900">Top 3 service</h3>
          <mat-icon>refresh</mat-icon>
        </div>
        <ul>
          <li>Reparation boite de vitesse</li>
          <li>Reparation moteur</li>
        </ul>
      </div>
    </div>

    <div class="rounded-lg bg-white shadow">
      <div class="p-4">
        <div class="flex items-center justify-between">
          <h3 class="text-xl font-medium text-gray-900">Revenue de ce mois</h3>
          <mat-icon>refresh</mat-icon>
        </div>
        <p class="mt-1 text-gray-500">397000</p>
      </div>
    </div>

    <div class="rounded-lg bg-white shadow">
      <div class="p-4">
        <div class="flex items-center justify-between">
          <h3 class="text-xl font-medium text-gray-900">Frequentation par mois</h3>
          <mat-icon>refresh</mat-icon>
        </div>
        <p class="mt-1 text-gray-500">
          TABLEAU stat
        </p>
      </div>
    </div>

  </div>
</div>
