<div>
    <app-page-header title="Historique des prestations"></app-page-header>
    <mat-card appearance="outlined">
        <mat-card-content>
            <div class="overflow-x-hidden">
                <table class="w-full text-sm text-left rtl:text-right mb-3">
                    <thead class="text-md bg-gray-100 p-2">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Date de rendez-vous
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Marque de la voiture
                            </th>
                            <th scope="col" class="px-6 py-3">
                               Type de voiture
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Immatriculation
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Note
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(history of data(); track $index){
                            <tr class="bg-white border-t border-gray-200">
                                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    <p>Début : <span>{{ history.startedAt | date:'dd-MM-YYYY, HH:mm' }}</span></p>
                                    <p>Fin : {{ history.endingAt | date:'dd-MM-YYYY, HH:mm' }}</p>
                                </td>
                                <td class="px-6 py-4">
                                    {{ history.brandName }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ history.vehicleType }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ history.registrationNumber }}
                                </td>
                                <td class="px-6 py-4">
                                    <div class="flex space-x-1 text-yellow-400">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24">
                                          <path d="M12 2l2.9 6.1L22 9.3l-5 5 .9 7.1L12 17l-5.9 4.4.9-7.1-5-5 7.1-1.2L12 2z"/>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24">
                                          <path d="M12 2l2.9 6.1L22 9.3l-5 5 .9 7.1L12 17l-5.9 4.4.9-7.1-5-5 7.1-1.2L12 2z"/>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24">
                                          <path d="M12 2l2.9 6.1L22 9.3l-5 5 .9 7.1L12 17l-5.9 4.4.9-7.1-5-5 7.1-1.2L12 2z"/>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24">
                                          <path d="M12 2l2.9 6.1L22 9.3l-5 5 .9 7.1L12 17l-5.9 4.4.9-7.1-5-5 7.1-1.2L12 2z"/>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-6 h-6 text-gray-300" viewBox="0 0 24 24">
                                          <path d="M12 2l2.9 6.1L22 9.3l-5 5 .9 7.1L12 17l-5.9 4.4.9-7.1-5-5 7.1-1.2L12 2z"/>
                                        </svg>
                                      </div>
                                </td>
                                <td class="px-6 py-4">
                                    <a (click)="historyInfoDialog($index)" class="cursor-pointer">Rapport</a> <br>
                                    <a (click)="downloadFacturePdf(history._id)" class="cursor-pointer">Télécharger la facture (PDF)</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div>
                    <nav class="isolate flex -space-x-px rounded-md shadow-xs justify-end" aria-label="Pagination">

                      <button [disabled]="page() == 1" (click)="fetchData(page() - 1)" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                        <span class="sr-only">Précédent</span>
                        <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                          <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
                        </svg>
                      </button>

                      @for (item of [].constructor(totalPage()); track $index) {
                        <button [disabled]="$index + 1 == page()" (click)="fetchData($index + 1)" class="relative z-10 inline-flex items-center bg-blue-600 px-4 py-2 text-sm font-semibold text-white focus:z-20">{{ $index + 1 }}</button>
                      }
                      

                      <button [disabled]="page() == totalPage()" (click)="fetchData(page() + 1)" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                        <span class="sr-only">Suivant</span>
                        <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                          <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                      </button>
                    </nav>
                  </div>
            </div>
        </mat-card-content>
       
    </mat-card>
</div>
