<footer class="flex justify-center items-center p-8">
    <p class="w-full text-center text-gray-100 text-md flex justify-between">
        <span>&copy; 2025 ITU-MASTER_1-P_12 </span> 
        <span class="flex gap-10">
            <a target="_blank" href="https://learn.ituniversity.mg/user/profile.php?id=252" class="font-medium cursor-pointer">Emmanuel RAFIDINJANAHARY</a><span>|</span><a href="https://learn.ituniversity.mg/user/profile.php?id=162" target="_blank" class="font-medium cursor-pointer">Nohan Soava RAZAFINJATO</a>
        </span>
    </p>
</footer>