<h2 class="mb-4" mat-dialog-title>Ajout d'employé</h2>
<mat-dialog-content class="mt-4">
  <form [formGroup]="mechanicsForm" class="py-3">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email">
      @if (mechanicsForm.get('email')?.hasError('required')) {
        <mat-error>L'email est requis</mat-error>
      }
      @if (mechanicsForm.get('email')?.hasError('email')) {
        <mat-error>Format d'email invalide</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Prénom</mat-label>
      <input type="text" matInput formControlName="firstName">
      @if (mechanicsForm.get('firstName')?.hasError('required')) {
        <mat-error>Le prénom est requis</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input type="text" matInput formControlName="lastName">
      @if (mechanicsForm.get('lastName')?.hasError('required')) {
        <mat-error>Le nom est requis</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date de naissance</mat-label>
      <input type="date" matInput formControlName="birthday">
      @if (mechanicsForm.get('birthday')?.hasError('required')) {
        <mat-error>La date de naissance est requise</mat-error>
      }
      @if (mechanicsForm.get('birthday')?.hasError('invalidDate')) {
        <mat-error>Format de date invalide</mat-error>
      }
      @if (mechanicsForm.get('birthday')?.hasError('ageInvalid')) {
        <mat-error>L'âge doit être entre 18 et 60 ans</mat-error>
      }
    </mat-form-field>

    <div class="file-input-container">
      <label for="image-upload">Photo de profil*</label>
      <input type="file" id="image-upload" accept="image/jpeg,image/jpg,image/png,image/gif,image/webp" (change)="onFileChange($event)">
      @if (formSubmitted && mechanicsForm.get('image')?.hasError('required')) {
        <mat-error>La photo est requise</mat-error>
      }
      @if (mechanicsForm.get('image')?.touched && mechanicsForm.get('image')?.hasError('invalidFile')) {
        <mat-error>Fichier invalide</mat-error>
      }
      @if (mechanicsForm.get('image')?.touched && mechanicsForm.get('image')?.hasError('invalidType')) {
        <mat-error>Format d'image invalide (JPG, PNG, GIF, WEBP)</mat-error>
      }
      @if (mechanicsForm.get('image')?.touched && mechanicsForm.get('image')?.hasError('oversizedFile')) {
        <mat-error>Taille maximale : 5MB</mat-error>
      }
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="clearForm()">Effacer</button>
  <button mat-button [mat-dialog-close]="true">Annuler</button>
  <button mat-button [disabled]="mechanicsForm.invalid" (click)="addEmployee()">Ajouter
  </button>
</mat-dialog-actions>
