<h2 mat-dialog-title>Ajout d'une voiture</h2>
<mat-dialog-content>
  <form class="flex flex-col gap-5">

    <!-- Immatriculation -->
    <div>
      <label for="matriculation" class="block text-sm/6 font-medium text-gray-900">Immatriculation</label>
      <div class="mt-2">
        <input type="text" placeholder="ex : 1234 TAC" name="matriculation" id="matriculation" class="block w-full rounded-md bg-gray-50 px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6">
      </div>
    </div>

    <!-- Marque -->
    <div>
      <label for="marque" class="block text-sm/6 font-medium text-gray-900">Marque de la voiture</label>
      <div class="mt-2 grid grid-cols-1">
        <select id="marque" name="marque" autocomplete="brand-name" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-gray-50 py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6">
          <option>United States</option>
          <option>Canada</option>
          <option>Mexico</option>
        </select>
        <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
      </div>
    </div>

    <!-- Type de voiture -->
    <div>
      <label for="type" class="block text-sm/6 font-medium text-gray-900">Type de la voiture</label>
      <div class="mt-2 grid grid-cols-1">
        <select id="type" name="type" autocomplete="type-name" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-gray-50 py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6">
          <option>United States</option>
          <option>Canada</option>
          <option>Mexico</option>
        </select>
        <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
      </div>
    </div>

    <!-- Description -->
    <div class="col-span-full">
      <label for="description" class="block text-sm/6 font-medium text-gray-900">Description</label>
      <div class="mt-2">
        <textarea name="description" id="description" rows="3" class="block w-full rounded-md bg-gray-50 px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6"></textarea>
      </div>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button>Valider</button>
</mat-dialog-actions>
