mat-card{
    border-radius: 4px;
    background-color: white;
    border: thin solid rgb(229, 227, 227);
    padding: 16px;
}

mat-stepper{
    background-color: white;
}

.mat-mdc-form-field {
    margin-top: 16px;
}
