@if (typeStore.isLoading()) {
  <mean-spinner></mean-spinner>
} @else {
  <div class="px-3 sm:px-6 md:px-10">
    <div class="flex justify-end mt-3 sm:mt-0">
      <div
        class="cursor-pointer border p-2 rounded-lg flex items-center justify-center sm:justify-between text-center font-semibold bg-black text-white hover:bg-red-600 transition-colors duration-200 w-full sm:w-auto"
        title="Ajouter un type"
        (click)="showAddTypeDialog()">
        <mat-icon>add</mat-icon>
        <span class="px-1">Ajouter</span>
      </div>
    </div>
  </div>

  @if (canShowTypeTable()) {
    <div class="overflow-x-auto mt-4 px-3 sm:px-6 md:px-10">
      <table class="w-full border-collapse bg-white text-left text-sm text-gray-500 rounded-lg border border-gray-200">
        <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-4 sm:px-6 py-3 font-medium text-gray-900">Nom</th>
          <th scope="col" class="px-4 sm:px-6 py-3 font-medium text-gray-900">Pourcentage</th>
          <th scope="col" class="px-4 sm:px-6 py-3 font-medium text-gray-900 text-center">Actions</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-100 border-t border-gray-200">
          @for (type of types; track type._id) {
            <tr class="hover:bg-gray-50">
              <td class="px-4 sm:px-6 py-3 font-medium text-gray-900">{{ type.type }}</td>
              <td class="px-4 sm:px-6 py-3">{{ type.priceMultiplierPercent / 100 | percent:'1.0-2' }}</td>
              <td class="px-4 sm:px-6 py-3 text-center">
                <button
                  (click)="deleteType(type._id)"
                  title="Supprimer"
                  class="p-1.5 rounded-full hover:bg-gray-100">
                  <mat-icon class="text-black hover:text-red-600 transition-colors">delete</mat-icon>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  } @else {
    <div
      class="flex flex-col items-center justify-center bg-gray-50 rounded-lg shadow-sm border border-gray-200 mx-3 sm:mx-6 md:mx-10 my-4 py-10">
      <mat-icon class="text-gray-400 mb-4" style="font-size: 48px; height: 48px; width: 48px;">car_crash</mat-icon>
      <p class="text-gray-600 text-xl font-semibold text-center">Pas de type de vehicule disponibles</p>
      <p class="text-gray-500 mt-2 text-center px-4">Ajoutez un type en cliquant sur le bouton "Ajouter"</p>
    </div>
  }
}
