<div class="w-full flex flex-col">
    <app-page-header title="Suivi des voitures"></app-page-header>

    <div class="p-2 border-b-2 border-gray-50">
        <button (click)="refreshData()" mat-flat-button [disabled]="isRefreshing()"><mat-icon>sync</mat-icon> Recharger</button>
    </div>

    <div class="md:flex md:flex-wrap gap-2 justify-center items-start">
        <!-- pending state -->
        <app-suivi-card title="En attente" state="pending" [data]="suivi().pending"></app-suivi-card>

        <!-- set state -->
        <app-suivi-card title="Rendez-vous fixé" state="set" [data]="suivi().set"></app-suivi-card>

        <!-- confirmed state -->
        <app-suivi-card title="Rendez-vous confirmé" state="confirmed" [data]="suivi().confirmed"></app-suivi-card>

        <!-- in progress state -->
        <app-suivi-card title="En cours" state="in_progress" [data]="suivi().in_progress"></app-suivi-card>
    </div>
</div>
