<span mat-dialog-title>Compte rendu </span>

<mat-dialog-content>
  <div class="grid gap-2">
    <div class="">
      <form [formGroup]="form" class="grid gap-2 grid-flow-row">
        <div>
          <label>
            <span class="text-lg text-gray-950">Images : </span>
            <input type="file" multiple class="border p-2 w-full border-gray-500 rounded-md" (change)="onFileChange($event)">
          </label>
          @if (form.get('files')?.hasError('required')) {
            <div class="text-red-600 mt-1">Fichier ne doit pas être vide</div>
          }
          @if (form.get('files')?.hasError('invalidFile')) {
            <div class="text-red-600 mt-1">Fichier invalide</div>
          }
          @if (form.get('files')?.hasError('invalidType')) {
            <div class="text-red-600 mt-1">Type de fichier invalide</div>
          }
          @if (form.get('files')?.hasError('overSizedFile')) {
            <div class="text-red-600 mt-1">Fichier trop volumineux</div>
          }
        </div>

        <div>
          <label>
            <span class="text-lg text-gray-950">Rapport : </span>
            <quill-editor
              class="w-full border border-gray-400"
              formControlName="report">
            </quill-editor>
          </label>
          @if (form.get("report")?.hasError('required')) {
            <div class="text-red-600 mt-1">Rapport manquant.</div>
          }
        </div>

        <div>
          <div class="flex justify-end">
            <div class="w-fit p-2 rounded-lg flex gap-1 items-center border border-black text-black cursor-pointer font-medium hover:border-red-600 hover:bg-red-600 hover:text-white" (click)="addInputExtra()">
              <mat-icon class="w-fit">add</mat-icon>
              <span>Ajouter une pièce</span>
            </div>
          </div>
        </div>

        <div formArrayName="items">
          @if (isItemsAdded()){
            <span class="text-lg text-gray-950">
              {{ itemsArray.length > 1 ? "Pieces" : "Piece" }} :
            </span>
          }
          @for (item of itemsArray.controls; track item.value.id) {
            <div [formGroupName]="$index" class="flex gap-x-3">
              <div class="flex gap-2 items-center">
                <mat-form-field class="flex-3" appearance="outline">
                  <mat-label>Nom</mat-label>
                  <input matInput formControlName="name">
                  @if(item.get('name')?.hasError('required')){
                    <mat-error>Le nom de la pièce ne doit pas être vide.</mat-error>
                  }
                </mat-form-field>

                <mat-form-field class="flex-1" appearance="outline">
                  <mat-label>Prix</mat-label>
                  <input matInput formControlName="price" class="w-fit">
                  @if(item.get('price')?.hasError('required')){
                    <mat-error>Le prix ne doit pas être vide.</mat-error>
                  }
                  @if(item.get('price')?.hasError('min')){
                    <mat-error>La quantité doit être supérieure à 0.</mat-error>
                  }
                </mat-form-field>

                <mat-form-field class="flex-1" appearance="outline">
                  <mat-label>Quantité</mat-label>
                  <input matInput formControlName="quantity">
                  @if(item.get('quantity')?.hasError('required')){
                    <mat-error>La quantité ne doit pas être vide.</mat-error>
                  }
                  @if(item.get('quantity')?.hasError('min')){
                    <mat-error>La quantité doit être supérieure à 0.</mat-error>
                  }
                </mat-form-field>
              </div>
              <div title="Effacer" (click)="removeItem($index)" class="w-fit p-2 cursor-pointer">
                <mat-icon>delete</mat-icon>
              </div>
            </div>
          }
        </div>

      </form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex gap-3">
    <button class="border text-black border-black hover:text-red-600 font-semibold p-2 rounded-lg hover:border-red-600" [mat-dialog-close]="true">Annuler</button>
    <button class="border text-black font-semibold p-2 rounded-lg border-black disabled:bg-gray-200 hover:border-red-600 hover:bg-red-600 hover:text-white disabled:border-none disabled:text-gray-500 disabled:cursor-not-allowed" [disabled]="form.invalid" (click)="onSubmit()">Terminer</button>
  </div>
</mat-dialog-actions>
