/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: 'Corporate';
    src: url('../public/Corporate.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.mat-mdc-dialog-surface {
    border-radius: 6px !important;
    background-color: white !important;
}

.mat-mdc-dialog-surface {
    border-radius: 6px !important;
    background-color: white !important;
}
