/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; }

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right-style: hidden;
}

@font-face {
    font-family: 'Corporate';
    src: url('../public/Corporate.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.mat-mdc-dialog-surface {
    border-radius: 6px !important;
    background-color: white !important;
}

.mat-mdc-dialog-surface {
    border-radius: 6px !important;
    background-color: white !important;
}

.active-link {
  @apply bg-gray-100 text-red-600;
}

.active-link div {
  @apply bg-red-600;
  @apply text-white;
}

.active-link p {
  @apply text-red-600;
}
